<div class="{{styles.layout}}">
    <div class="{{styles.sidebar}}">
        <div class="{{styles.sidebar-header}}">
            <h1 class="{{styles.sidebar-header_title}}">Messages</h1>
            <a href="" class="{{styles.sidebar-header_link}}">
                {{{settingsIcon}}}
            </a>
        </div>
        <div class="{{styles.sidebar_chats}}">
            {{{chatsList}}}
        </div>
    </div>
    <div class="{{styles.main}}">
        {{{chatView}}}
    </div>
</div>
