{{{page}}}
<nav class="{{styles.nav}}">
    <h2 class="{{styles.nav_title}}">Navigation</h2>
    <ul class="{{styles.nav_list}}">
        <li class="{{styles.nav_item}}">
            <a href="/" class="{{styles.nav_link}}">Messages</a>
        </li>
        <li class="{{styles.nav_item}}">
            <a href="/login" class="{{styles.nav_link}}">Login</a>
        </li>
        <li class="{{styles.nav_item}}">
            <a href="/profile" class="{{styles.nav_link}}">Profile</a>
        </li>
         <li class="{{styles.nav_item}}">
            <a href="/registration" class="{{styles.nav_link}}">Registration</a>
        </li>
    </ul>
</nav>
