<div class="{{styles.chat-view}}">
    <div class="{{styles.chat-view_header}}">
        <img src="" alt="" class="{{styles.avatar}}" height="48" width="48">
        <div class="{{styles.chat-view_user-info}}">
            <h3 class="{{styles.chat-view_title}}">{{username}}</h3>
            <div class="{{styles.chat-view_status}}">Online</div>
        </div>
        <button class="{{styles.chat-view_actions-button}}" type="button">
            {{{ellipsisVerticalIcon}}}
        </button>
    </div>
    <div class="{{styles.chat-view_content}}">
        Start messaging
    </div>
    <div class="{{styles.chat-view_new-message-form}}">
        {{{newMessageForm}}}
    </div>
</div>
