<label class="{{styles.message-form_file-label}}" for="attached-file">
    {{{paperclipIcon}}}
    <input class="{{styles.message-form_file-input}}" id="attached-file" type="file" name="attached-file">
</label>
<input type="text" placeholder="Start typing message...">
<button class="{{styles.message-form_submit-button}}" type="submit">
    {{{sendMessageIcon}}}
</button>
