<form class="{{styles.profile-form}}">
    <div class="{{styles.profile-form_head}}">
        <label class="{{styles.profile-form_avatar-label}}">
            <input class="{{styles.profile-form_avatar-input}}" type="file" name="avatar">
        </label>
        <h1 class="{{styles.profile-form_username}}">{{username}}</h1>
    </div>
    <div class="{{styles.profile-form_body}}">
        {{{emailInput}}}
        {{{loginInput}}}
        {{{firstNameInput}}}
        {{{secondNameInput}}}
        {{{phoneInput}}}
    </div>
    <div class="{{styles.profile-form_footer}}">
        {{{logoutButton}}}
        {{{changeButton}}}
    </div>
</form>
