<div class="{{styles.auth}}">
    <h1 class="{{styles.auth_title}}">Sign up</h1>
    <form class="{{styles.auth-form}}">
        <div class="{{styles.auth-form_body}}">
            {{{loginInput}}}
            {{{firstNameInput}}}
            {{{secondNameInput}}}
            {{{emailInput}}}
            {{{phoneInput}}}
            {{{passwordInput}}}
            {{{passwordAgainInput}}}
        </div>
        <div class="{{styles.auth-form_footer}}">
            {{{submitButton}}}
            <a class="{{styles.auth-form_link}}" href="/">I already have an account</a>
        </div>
    </form>
</div>
