<div class="{{styles.auth}}">
    <h1 class="{{styles.auth_title}}">Sign in</h1>
    <form class="{{styles.auth-form}}">
        <div class="{{styles.auth-form_body}}">
            {{{loginInput}}}
            {{{passwordInput}}}
        </div>
        <div class="{{styles.auth-form_footer}}">
            {{{submitButton}}}
            <a class="{{styles.auth-form_link}}" href="/registration">Create account</a>
        </div>
    </form>
</div>
