<div class="{{styles.error}}">
    <h1 class="{{styles.error_title}}">{{title}}</h1>
    <p class="{{styles.error_description}}">{{description}}</p>
    <a class="{{styles.error_link}}" href="/">Back to main page</a>
</div>
