{{#each items}}
    <li class="{{../styles.chats-list_item}}">
        <article class="{{../styles.chat}}" data-unread="{{isPositive unreadMessagesCount}}">
            <div class="{{../styles.chat_avatar-wrapper}}">
                <img class="{{../styles.chat_avatar}}" src="" alt="" height="48" width="48">
                <span class="{{../styles.chat_online-status}}"/></span>
            </div>
            <div class="{{../styles.chat_body-wrapper}}">
                <div class="{{../styles.chat_line}}">
                    <h2 class="{{../styles.chat_title}}">{{username}}</h2>
                    <div class="{{../styles.chat_last-message-datetime}}">{{datetime}}</div>
                </div>
                <div class="{{../styles.chat_line}}">
                    <p class="{{../styles.chat_message-preview}}">{{lastMessage}}</p>
                    {{#if unreadMessagesCount}}
                        <div class="{{../styles.chat_unread-messages-count}}">{{unreadMessagesCount}}</div>
                    {{else}}
                        +
                    {{/if}}
                </div>
            </div>
        </article>
    </li>
{{/each}}
